.separate-codeEditor{
    height: 870px;
}
.editor textarea {
    min-height: 846px;
    max-height: 846px;
}
#previewBtn{
    display: none;
}
@media only screen and (max-width: 1290px) {
    #previewBtn{
        display: block;
    }
}
[data-theme="dark"] .editor textarea {
    background: #1a1a1a;
    color: #bdbdbd;
    transition: 0.3s;
}