nav{
    background: #06D0FF;
}

footer{
    border-top: 2px solid #06D0FF;
}

p.note{
    background: #06D0FF36;
}

button.active{
    background: linear-gradient(135deg, #03EDFF, #06D0FF);
}

[data-theme="dark"] button.active {
    background: linear-gradient(135deg, #03EDFF, #06D0FF);
    transition: 0.3s;
}

.basicBtn{
    background: linear-gradient(135deg, #03EDFF, #06D0FF, #03EDFF, #06D0FF);
    background-size: 300% 100%;
}

[data-theme="dark"] .basicBtn {
    color: #ffffffde;
    background: linear-gradient(135deg, #03EDFF, #00add5, #03EDFF, #00add5);
    background-size: 300% 100%;
    transition: 0.3s;
}

.headbtn:hover{
    background: url(../icons/arrow.svg), #c1f4ff;
    background-position: center;
    background-repeat: no-repeat;
}

[data-theme="dark"] .headbtn:hover{
    background: url(../icons/arrow.svg), #ffb8a8;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s;
}

.on{
    padding-bottom: 15px;
    border-bottom: 3px solid #06D0FF;
}

p.note a{
    color: #06D0FF;
}

button.active:hover {
    background: linear-gradient(135deg, #03EDFF, #06D0FF);
    transition: 0.3s;
}

td, th {
    border: 1px solid #06D0FF;
}

tr:nth-child(even) {
    background-color: #06D0FF30;
}

input:focus{
    border: 1px solid #06D0FF !important;
}

i.tag{
    color: #06D0FF;
    font-style: normal;
}

p a{
    color: #06D0FF;
}