footer{
    height: 80px;
    border-top: 2px solid #C0033D;
    font-family: 'MarkGeoCaps';
    color: #4F4F4F;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    font-size: 14px;
}

footer a{
    text-decoration: none;
    color: #4F4F4F;
    margin-right: 12px;
}

footer a:hover{
    text-decoration: underline;
}

.split-footer{
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.spl-ft-right{
    justify-content: flex-end;
    font-style: normal;
}

@media only screen and (max-width: 1240px) {
    footer{
        flex-direction: column;
        justify-content: space-around;
    }
    .split-footer{
        width: 100%;
    }
    footer a{
        margin: 0;
    }
    .spl-ft-right{
        justify-content: center;
    }
}