.content{
    width: 80%;
    padding: 20px 40px;
}

.xtkpiq45ulaey{
    width: 314px;
    padding-top: 28px;
    padding-right: 20px;
}

main{
    display: flex;
    padding-left: 200px;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 50px;
}

.header{
    display: flex;
    align-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.headbtn{
    width: 65px;
    height: 65px;
    background: #E0E0E0;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    background: url(../icons/arrow.svg) #E0E0E0;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s;
    cursor: url(../cursors/pointer-light.png), pointer;
}

.hbtn-r{
    transform: rotate(180deg);
}

.headbtn:hover{
    background-color: #ffb2c9;
    transition: 0.3s;
}

[data-theme="dark"] .headbtn{
    filter: invert(1);
    background-color: #e6e6e6;
    transition: 0.3s;
    cursor: url(../cursors/pointer-dark.png), pointer;
}

[data-theme="dark"] .headbtn:hover{
    filter: invert(1);
    background-color: #97ffe0;
    transition: 0.3s;
}

h1{
    font-family: 'MarkGeoCaps', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #0F0700;
    transition: 0.3s;
}

[data-theme="dark"] h1{
    color: #BEBEBE;
    transition: 0.3s;
}

p{
    font-size: 18px;
    font-family: 'MarkGeo';
    line-height: 30px;
    color: #0F0700;
    transition: 0.3s;
}

p a{
    cursor: url(../cursors/pointer-light.png), pointer;
}

[data-theme="dark"] p{
    color: #9F9F9F;
    transition: 0.3s;
}

[data-theme="dark"] p a{
    cursor: url(../cursors/pointer-dark.png), pointer;
}

[data-theme="dark"] li{
    color: #9F9F9F;
    transition: 0.3s;
}

h2{
    font-size: 22px;
    font-family: 'MarkGeoCaps';
    font-weight: bold;
    color: #0F0700;
    margin: 0;
    padding: 0;
    transition: 0.3s;
}

[data-theme="dark"] h2{
    color: #9F9F9F;
    transition: 0.3s;
}

p.note{
    background: #c0033c36;
    border-radius: 12px;
    padding: 46px;
    line-height: 46px;
}

article{
    padding: 0 46px;
    margin: 40px 0;
}

.basicBtn{
    width: 330px;
    height: 58px;
    border-radius: 12px;
    border: none;
    margin-top: 20px;
    background: linear-gradient(90deg, #ff004b, #ff002a);
    background-size: 300% 100%;
    color:#fff;
    font-family: 'MarkGeoCaps';
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
    cursor: url(../cursors/pointer-light.png), pointer;
}

.basicBtn:hover{
    background-position: -300px;
    transition: 0.3s;
}


[data-theme="dark"] .basicBtn{
    background: linear-gradient(90deg, #D70140, #D40124);
    color: #DCD3D5;
    transition: 0.3s;
    cursor: url(../cursors/pointer-dark.png), pointer;
}

[data-theme="dark"] .basicBtn:hover{
    background-position: -300px;
    transition: 0.3s;
}

ul{
    padding: 0 15px;
    list-style: circle;
    font-family: 'MarkGeo';
    color: #0F0700;
    font-size: 18px;
    line-height: 30px;
    transition: 0.3s;
}

[data-theme="dark"] ul{
    color: #DCD3D5;
    transition: 0.3s;
}

section.catalog{
    width: 420px;
    height: 100%;
    position: fixed;
    left: -100%;
    top: 0;
    background: #E9E9E9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    z-index: 3;
    transition: 0.3s;
}

[data-theme="dark"] section.catalog{
    background: #0D0D0D;
    transition: 0.3s;
}

section.catalog input{
    width: 250px;
    background: url(../icons/search-light.svg);
    background-position-x: 15px;
    font-family: 'MarkGeo';
    padding-left: 50px;
    height: 54px;
    margin-right: 10px;
}

section.catalog button{
    width: 58px;
    height: 58px;
    background: url(../icons/cross-light.svg);
    background-position: center;
    cursor: pointer;
    transition: 0.3s;
}

section.catalog button, section.catalog input{
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position-y: center;
    border: 1px solid #AAAAAA;
    background-color: #D8D8D8;
}

[data-theme="dark"] section.catalog button, section.catalog input{
    border: 1px solid #3E3E3E;
    background-color: #1f1f1f;
    color: #BEBEBE;
    transition: 0.3s;
}

[data-theme="dark"] section.catalog input{
    border: 1px solid #3E3E3E;
    background-color: #1f1f1f;
    color: #BEBEBE;
    transition: 0.3s;
}

section.catalog input{
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position-y: center;
    border: 1px solid #AAAAAA;
    background-color: #D8D8D8;
    color: #191919;
}

section.catalog button:hover{
    background: url(../icons/cross-light.svg) #f2f2f2;
    background-position: center;
    background-repeat: no-repeat;
    cursor: url(../cursors/pointer-light.png), pointer;
}

[data-theme="dark"] section.catalog button:hover{
    background: url(../icons/cross-light.svg) #343434;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s;
    cursor: url(../cursors/pointer-dark.png), pointer;
}

.separate-catalog{
    display: flex;
}

#myUL{
    padding-inline-start: 0px;
    width: 100%;
    margin: 0;
    padding: 0;
}

#myUL li {
    margin: 30px 0;
    display: block;
    cursor: url(../cursors/pointer-light.png), pointer;
}

[data-theme="dark"] #myUL li{
    color: #BEBEBE;
    transition: 0.3s;
    cursor: url(../cursors/pointer-dark.png), pointer;
}

#myUL li a{
    text-decoration: none;
    font-family: 'MarkGeoCaps';
    color: #191919;
    font-size: 24px;
    transition: 0.3s;
    cursor: url(../cursors/pointer-light.png), pointer;
}

[data-theme="dark"] #myUL li a{
    color: #BEBEBE;
    transition: 0.3s;
    cursor: url(../cursors/pointer-dark.png), pointer;
}

.catalog-scrollable {
    overflow-y: scroll;
    width: 86%;
}

.on{
    padding-bottom: 15px;
    border-bottom: 3px solid #ff004b;
}

p.note a{
    color: #ff004b;
    cursor: url(../cursors/pointer-light.png), pointer;
}

[data-theme="dark"] p.note a{
    cursor: url(../cursors/pointer-dark.png), pointer;
}

.codeEditor{
    width: 100%;
    display: flex;
}

.separate-codeEditor{
    width: 100%;
    height: 400px;
    border: 1px solid #ff004b;
}

.switchEditor{
    display: flex;
    flex-direction: row;
    background: #ff004b;
}

iframe#code{
    width: 100%;
    height: 100%;
    border: none;
    background: #f7f7f7;
}

.switchEditor button{
    width: 100%;
    cursor: pointer;
    border: none;
    background: #ff004b;
    color: white;
    font-family: 'MarkGeo';
    cursor: url(../cursors/pointer-light.png), default;
}

[data-theme="dark"].switchEditor{
    cursor: url(../cursors/pointer-dark.png), default;
}

#htmlBtn{
    background: #D40124;
    transition: 0.3s;
}

#htmlBtn:hover, #cssBtn:hover, #jsBtn:hover{
    background: #D40124 !important;
    transition: 0.3s;
}

#css, #js{
    display: none;
}

.editor textarea{
    min-width: 99.89%;
    max-width: 150%;
    min-height: 375px;
    max-height: 375px;
    font-family: 'MarkGeo';
    border: none;
    overflow-y: scroll;
    padding: 2px 0;
}

i.caps{
    font-family: 'MarkGeoCaps', sans-serif;
    font-style: normal;
}

.editor textarea:focus-visible{
    outline: none;
}

table {
    font-family: 'MarkGeo';
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
    margin: 20px 0;
}

td, th {
    border: 1px solid #D70140;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ff004b30;
}

[data-theme="dark"] table{
    color: #9F9F9F;
    transition: 0.3s;
}

@media only screen and (max-width: 1550px) {
    main{
        padding-left: 140px;
    }
}

@media only screen and (max-width: 1290px) {
    .codeEditor{
        flex-direction: column;
    }
    .separate-codeEditor {
        width: 100%;
        height: 250px;
    }
}

@media only screen and (max-width: 1290px) {
    .xtkpiq45ulaey {
        width: 250px;
    }
    .editor textarea{
        min-height: 225px;
        max-height: 225px;
    }
}

@media only screen and (max-width: 980px) {
    main{
        padding-left: 150px;
    }
    h1{
        font-size: 28px;
    }
    table{
        font-size: 12px;
    }
    .content {
        padding: 20px;
    }
}

@media only screen and (max-width: 920px) {
    .xtkpiq45ulaey{
        display: none;
    }
    .content {
        width: 90%;
    }    
}

@media only screen and (max-width: 720px) {
    .content{
        padding: 0;
    }
    main {
        padding-left: 0;
        padding-top: 30px;
        justify-content: center;
    }
    section.catalog{
        left: -1000%;
        width: 100%;
    }
    section.catalog input {
        width: 80%;
        height: 40px;
        font-size: 14px;
        background-size: 20px;
    }
    .separate-catalog {
        display: flex;
        width: 86%;
        justify-content: space-between;
    }
    #myUL li {
        margin: 24px 0;
    }
    #myUL li a{
        font-size: 20px;
    }
    section.catalog button {
        width: 44px;
        height: 44px;
    }
    .basicBtn{
        width: 100%;
        height: 48px;
        font-size: 14px;
    }
    h1{
        font-size: 18px;
    }
    h2 {
        font-size: 14px;
    }
    .headbtn {
        width: 45px;
        height: 45px;
        background-size: 8px;
        border-radius: 8px;
    }
    p.note{
        padding: 28px;
        line-height: 28px;
    }
    p {
        font-size: 14px;
    }
    article{
        margin: 28px 0;
        padding: 0 28px;
    }
    ul{
        font-size: 14px;
    }
}

@media only screen and (max-width: 340px) {
    .menubtn, .catalogbtn {
        width: 40px;
        height: 40px;
    }
    .logo {
        width: 40px;
        height: 40px;
    }
}

@media only screen and (max-width: 280px) {
    table{
        font-size: 9px;
    } 
    .menubtn, .catalogbtn {
        width: 36px;
    }
}