nav{
    background: #C0033D;
    height: 50px;
    padding-left: 230px;
    padding-right: 30px;
}

nav a{
    text-decoration: none;
    color: #F4F4F4;
    font-size: 26px;
    font-family: 'BOG';
    font-weight: bold;
    margin-right: 30px;
    padding: 4px 5px;
    line-height: 50px;
}

a.active{
    border-bottom: 5px solid #F4F4F4;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background: #E0E0E0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

[data-theme="dark"] header{
    background-color: #0C0C0C;
    transition: 0.3s;
}

.logo{
    margin: 40px 50px 25px 50px;
    width: 100px;
    height: 100px;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
}

div.dark-mode{
    float: right;
    padding: 12px;
    width: 24px;
    height: 24px;
}

.dark-mode input{
    width: 24px;
    height: 24px;
}

.catalogbtn{
    background: #F4F4F4;
    width: 104px;
    height: 38px;
    border: none;
    border-radius: 6px;
    color: #252525;
    font-family: 'MarkGeoCaps';
    font-weight: bold;
    cursor: pointer;
}

[data-theme="dark"] .catalogbtn{
    background-color: #191919;
    color: #C5C5C5;
    transition: 0.3s;
}

.menubtn{
    width: 100px;
    height: 100px;
    background: #F4F4F4;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    margin-bottom: 34px;
}

[data-theme="dark"] .menubtn{
    background-color: #191919;
    transition: 0.3s;
}

.separate-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button.active{
    background: linear-gradient(135deg, #ff0048, #ff002d);
}

[data-theme="dark"] button.active{
    background: linear-gradient(135deg, #C00338, #BE0324);
    transition: 0.3s;
}

.nav{
    width: 100%;
    position: fixed;
}

@media only screen and (max-width: 1200px){
    .menubtn {
        margin-bottom: 18px;
    }
}