nav{
    background: #C0033D;
    height: 50px;
    padding-left: 230px;
    padding-right: 30px;
}

nav a{
    text-decoration: none;
    color: #F4F4F4;
    font-size: 26px;
    font-family: 'MarkGeoCaps';
    font-weight: bold;
    margin-right: 30px;
    padding: 4px 5px;
    line-height: 50px;
}

a.active{
    border-bottom: 5px solid #F4F4F4;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background: #E0E0E0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
    z-index: 2;
}

[data-theme="dark"] header{
    background-color: #0C0C0C;
    transition: 0.3s;
}

.logo{
    margin: 40px 0 25px 0;
    width: 100px;
    height: 100px;
    border: 1px solid white;
    border-radius: 14px;
    cursor: pointer;
}

div.dark-mode{
    float: right;
    margin: 12px;
    width: 24px;
    height: 24px;
    background: url(../icons/dark.svg) #F4F4F4;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

[data-theme="dark"] div.dark-mode{
    background: url(../icons/light.svg) #F4F4F4;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s;
}

.dark-mode input{
    width: 24px;
    height: 24px;
    opacity: 0;
    cursor: pointer;
}

.catalogbtn{
    background: #F4F4F4;
    width: 104px;
    height: 38px;
    border: none;
    border-radius: 6px;
    color: #252525;
    font-family: 'MarkGeoCaps';
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.catalogbtn:hover{
    background: #fff;
    transition: 0.3s;
}

[data-theme="dark"] .catalogbtn{
    background-color: #191919;
    color: #C5C5C5;
    transition: 0.3s;
}

[data-theme="dark"] .catalogbtn:hover{
    background-color: #292929;
    transition: 0.3s;
}

.menubtn{
    width: 100px;
    height: 100px;
    background: #F4F4F4;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    margin-bottom: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.menubtn:hover{
    background: #ffffff;
    transition: 0.3s;
}

[data-theme="dark"] .menubtn{
    background-color: #191919;
    transition: 0.3s;
}

[data-theme="dark"] .menubtn:hover{
    background-color: #292929;
    transition: 0.3s;
}

.separate-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button.active{
    background: linear-gradient(135deg, #ff0048, #ff002d);
    transition: 0.3s;
}

button.active:hover{
    background: linear-gradient(135deg, #ff0048, #ff002d);
    transition: 0.3s;
}

[data-theme="dark"] button.active{
    background: linear-gradient(135deg, #C00338, #BE0324);
    transition: 0.3s;
}

.nav{
    width: 100%;
    position: fixed;
    z-index: 1;
}

.head-icon{
    width: 36px;
    height: 36px;
}

.lessons-icon{
    background: url(../icons/Lesseons.svg);
    background-position: center;
    background-repeat: no-repeat;
}

button.active > .head-icon{
    filter: invert(1);
    opacity: 1;
}

.head-icon{
    opacity: 0.9;
    transition: 0.3s;
}

.vlessons-icon{
    background: url(../icons/VLessons.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.exercises-icon{
    background: url(../icons/exercises.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.code-editor-icon{
    background: url(../icons/codeEditor.svg);
    background-position: center;
    background-repeat: no-repeat;
}

[data-theme="dark"] .head-icon{
    filter: invert(0.8);
    transition: 0.3s;
}

.buttons-nav{
    display: none;
}

.categories-icon{
    display: none;
}

@media only screen and (max-width: 1550px) {
    button.menubtn{
        margin-bottom: 20px;
    }
    header{
        width: 170px;
    }
    nav{
        padding-left: 200px;
    }
}

.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width: 720px) {
    header{
        width: 100%;
        height: 75px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        bottom: 0;
        top: auto;
    }
    .logo{
        width: 40px;
        height: 40px;
        border-radius: 8px;
        margin: 0;
        margin-right: 5px;
    }
    .container{
        width: 90%;
        flex-direction: row;
        justify-content: space-between;
    }
    .separate-header{
        flex-direction: row;
    }
    .menubtn, .catalogbtn {
        width: 40px;
        height: 40px;
        font-size: 0;
        border-radius: 8px;
    }
    .catalogbtn{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav, main {
        padding-left: 0;
    }
    section.catalog{
        left: -120%;
    }
    .basicBtn{
        width: 220px;
    }
    .head-icon{
        background-size: 20px;
    }
    .nav {
        z-index: 3;
        height: 100%;
        top: -96%;
    }
    nav{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }
    button.menubtn {
        margin-bottom: 0;
        margin-left: 5px;
    }
    .buttons-nav{
        display: flex;
        width: 100%;
    }
    nav section button{
        width: 100%;
        height: 20px;
        border: none;
        background: url(../icons/arrow-down.svg) transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 10px;
        filter: invert(1);
    }
    .closeNav{
        display: none;
        transform: rotate(180deg);
    }
    .categories-icon{
        display: block;
        background: url(../icons/categories.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;
    }
    .real-nav{
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    div.dark-mode, .dark-mode input{
        width: 100%;
        margin: 0;
    }
    a.active {
        border-bottom: 3px solid #F4F4F4;
    }
    nav a {
        font-size: 20px;
        margin-right: 0;
        padding: 0px 0px 0px;
        line-height: 44px;
    }
}