nav{
    background: #FFBC01;
}

footer{
    border-top: 2px solid #FFBC01;
}

p.note{
    background: #FFBC0136;
}

button.active{
    background: linear-gradient(135deg, #FABB0C, #FB9207);
}

[data-theme="dark"] button.active {
    background: linear-gradient(135deg, #e0a70b, #e18206);
    transition: 0.3s;
}

.basicBtn{
    background: linear-gradient(135deg, #FABB0C, #FB9207, #FABB0C, #FB9207);
    background-size: 300% 100%;
}

[data-theme="dark"] .basicBtn {
    color: #ffffffde;
    background: linear-gradient(135deg, #e0a70b, #e18206, #e0a70b, #e18206);
    background-size: 300% 100%;
    transition: 0.3s;
}

.headbtn:hover{
    background: url(../icons/arrow.svg), #ffe293;
    background-position: center;
    background-repeat: no-repeat;
}

[data-theme="dark"] .headbtn:hover{
    background: url(../icons/arrow.svg), #a6beff;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s;
}

.on{
    padding-bottom: 15px;
    border-bottom: 3px solid #FFBC01;
}

p.note a{
    color: #FABB0C;
}

button.active:hover {
    background: linear-gradient(135deg, #FABB0C, #FB9207);
    transition: 0.3s;
}

td, th {
    border: 1px solid #fa9907;
}

tr:nth-child(even) {
    background-color: #FABB0C30;
}

input:focus{
    border: 1px solid #fabb0c !important;
}

i.tag{
    color: #FABB0C;
    font-style: normal;
}