body{
    background: #F3F3F3;
    transition: 0.3s;
}

header{
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    background: #f3f3f373;
    z-index: 1;
}

[data-theme="dark"] header{
    background: #12121221;
    border-radius: 6px;
}

nav{
    width: 78%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 60px;
    height: 60px;
}

[data-theme="dark"] .logo{
    border: 1px solid rgb(200, 200, 200);
    border-radius: 6px;
}

nav a{
    font-family: 'MarkGeoCaps';
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    color: #232323;
    line-height: 0;
    cursor: url(../cursors/pointer-light.png), pointer;
}

[data-theme="dark"] nav a{
    color: #A2A2A2;
    cursor: url(../cursors/pointer-dark.png), pointer;
}

nav button.start{
    width: 300px;
    height: 60px;
    border-radius: 8px;
    background: #FFBC03;
    border: none;
    font-size: 24px;
    font-family: 'MarkGeoCaps';
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    cursor: url(../cursors/pointer-light.png), pointer;
}

[data-theme="dark"]nav button.start{
    cursor: url(../cursors/pointer-dark.png), pointer !important;
}

div.dark-mode{
    width: 60px;
    height: 60px;
    background: url(../icons/dark.svg) #23232308;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 45%;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
}

[data-theme="dark"] div.dark-mode{
    background: url(../icons/light.svg) #23232308;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25%;
    filter: invert(0.8);
    transition: 0.3s;
}

.dark-mode input{
    width: 60px;
    height: 60px;
    opacity: 0;
    cursor: url(../cursors/pointer-light.png), pointer;
}

[data-theme="dark"].dark-mode input{
    cursor: url(../cursors/pointer-dark.png), pointer;
}

main{
    width: 100%;
    padding-top: 100px;
}

.title{
    font-size: 50px;
    font-weight: bold;
    font-family: 'MarkGeoCaps';
    margin: 0;
    padding: 0;
    color: #232323;
    transition: 0.3s;
}

.desc{
    font-size: 34px;
    font-family: 'MarkGeo';
    margin: 0;
    padding: 0;
    margin-top: 42px;
    margin-bottom: 64px;
    color: #232323;
    opacity: 0.7;
    transition: 0.3s;
}

[data-theme="dark"] .title{
    color: #A2A2A2;
    transition: 0.3s;
}

[data-theme="dark"] .desc{
    color: #A2A2A2;
    transition: 0.3s;
}

.sectionInfo{
    width: 60%;
}

.sectionInfo .start{
    width: 672px;
    height: 126px;
    border-radius: 12px;
    background: #FFBC03;
    border: none;
    font-size: 50px;
    font-family: 'MarkGeoCaps';
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    transition: 0.3s;
    cursor: url(../cursors/pointer-light.png), pointer;
}

[data-theme="dark"].start{
    cursor: url(../cursors/pointer-dark.png), pointer;
}

.content{
    width: 78%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    z-index: 1;
}

section.start{
    align-items: flex-start;
}

.content:nth-child(odd){
    margin-top: 180px;
}

.cubes-decoration{
    width: 140px;
    height: 166px;
    background: url(../imgs/cubes\ decoration.svg);
    position: absolute;
    top: 180px;
    left: 45%;
}

.circle-decoration{
    width: 212px;
    height: 182px;
    background: url(../imgs/bubble\ decoration.svg);
    margin-left: -120px;
    padding-top: 80px;
    background-repeat: no-repeat;
    background-position: 0px 44px;
    background-size: 212px;
}

h3{
    font-size: 30px;
    font-weight: bold;
    font-family: 'MarkGeo';
    margin: 0;
    display: inline-block;
    margin-left: 10px;
}

.icon{
    width: 30px;
    height: 30px;
    display: inline-block;
}

.lessons-icon{
    background: url(../icons/Lesseons.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.vlessons-icon{
    background: url(../icons/VLessons.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.navigation a{
    font-size: 24px;
    font-family: 'MarkGeo';
    font-weight: bold;
    text-decoration: none;
    color: #232323;
    margin-bottom: 15px;
    line-height: 26px;
}

section.whyus{
    width: 100%;
    height: 406px;
    background: url(../imgs/pattern.svg) #4A081C;
    background-size: 5%;
}

div.whyus{
    display: flex;
    flex-direction: column;
    margin: 5% 0;
}

.icon-watch{
    height: 150px;
    width: 135px;
    background: url(../imgs/watch.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.startlearningtitle{
    font-size: 5vh;
    font-weight: bolder;
    font-family: 'MarkGeoCaps', 'MarkGeo', sans-serif;
    margin: 0;
    display: inline-block;
}

.startlearningtitle p{
    color: #FFBC03;
    display: inline-block;
    margin: 0;
}

[data-theme="dark"] .startlearningtitle p{
    color: #FFBC03;
    border-radius: 6px;
}

.dontwwastetime{
    width: 61%;
}

.wastetimeheader{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.wtime{
    display: flex;
    justify-content: center;
}

.dontwwastetime .start{
    width: 100%;
    height: 126px;
    border-radius: 12px;
    background: #FFBC03;
    border: none;
    font-size: 50px;
    font-family: 'MarkGeoCaps';
    font-weight: bold;
    cursor: pointer;
    margin-top: 78px;
    color: #EBEBEB;
    transition: 0.3s;
    cursor: url(../cursors/pointer-light.png), pointer;
}

.info{
    font-size: 24px;
    font-family: 'MarkGeo';
    font-weight: bold;
}

.info a{
    color: #F91A5E;
    cursor: url(../cursors/pointer-light.png), pointer;
}

[data-theme="dark"].info a{
    cursor: url(../cursors/pointer-dark.png), pointer;
}

[data-theme="dark"] .startlearningtitle{
    color: #A2A2A2;
    transition: 0.3s;
}

[data-theme="dark"] .info{
    color: #A2A2A2;
    font-weight: 500;
    transition: 0.3s;
}

[data-theme="dark"] .dontwwastetime .start{
    color: #141414;
    transition: 0.3s;
    cursor: url(../cursors/pointer-dark.png), pointer;
}

nav button.start:hover, .sectionInfo .start:hover, .dontwwastetime .start:hover{
    transform: scale(1.04);
    background: rgb(231 11 31);
    box-shadow: 0px 0px 30px #ff0000;
    transition: 0.3s;
}

nav a:hover{
    color: #ffa502;
    transition: 0.3s;
}

footer{
    width: 100%;
    height: 210px;
    background: #E9E9E9;
}

[data-theme="dark"] footer{
    background: #0C0C0C;
    transition: 0.3s;
}

.ftContent{
    height: 210px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ftOne{
    width: 70%;
}

.ftTwo p{
    font-size: 13px;
    font-family: 'MarkGeo';
    font-weight: bold;
}

[data-theme="dark"] .ftTwo p{
    color: #868686;
    transition: 0.3s;
}

.ftTwo img{
    width: 72px;
    height: auto;
}

.ftOne :is(a, p, i){
    font-family: 'MarkGeo', sans-serif;
    font-size: 24px;
    color: #868686;
    text-decoration: none;
    display: inline-block;
}

.devilink{
    color: #555555;
    font-weight: bold;
}

.ftlinks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.powerdby{
    margin-left: 48px;
}

.menubtn{
    width: 55px;
    height: 55px;
    background: url(../icons/menu-icon.svg) #23232308;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 48%;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
    display: none;
    cursor: url(../cursors/pointer-light.png), pointer;
}

[data-theme="dark"] .menubtn {
    background: url(../icons/menu-icon.svg) #23232308;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 48%;
    filter: invert(0.8);
    transition: 0.3s;
    cursor: url(../cursors/pointer-dark.png), pointer;
}

.sectionImg img {
    width: 100%;
}
.sectionImg{
    width: 40%;
}

.ftlinks a:hover{
    text-decoration: underline;
    transition: 0.3s;
}

.m-nav{
    width: 100%;
    height: 100%;
    background: #F3F3F3;
    position: fixed;
    z-index: 1;
}

.closebtn{
    width: 55px;
    height: 55px;
    background: url(../icons/cross.svg) #23232308;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
    cursor: url(../cursors/pointer-light.png), pointer;
}

[data-theme="dark"] .closebtn{
    cursor: url(../cursors/pointer-light.png), pointer;
}

.m-content{
    margin-top: 10px !important;
    flex-direction: column;
}

.m-nav-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.lessons p{
    font-size: 26px;
    margin: 0;
    font-family: 'MarkGeoCaps';
    font-weight: bolder;
    margin-top: 30px;
    cursor: url(../cursors/pointer-light.png), pointer;
}

[data-theme="dark"] .lessons p{
    cursor: url(../cursors/pointer-dark.png), pointer;
}

.gakvetilebi button{
    border: none;
    display: flex;
    background: transparent;
    cursor: url(../cursors/pointer-light.png), pointer;
}

[data-theme="dark"] .gakvetilebi button{
    cursor: url(../cursors/pointer-dark.png), pointer;
}

.lessons-section{
    display: flex;
    flex-direction: column;
}

.lessons-section a{
    margin-left: 32px;
    font-family: 'MarkGeo';
    text-decoration: none;
    color: black;
    margin-top: 10px;
}

.icon-rectangle{
    width: 24px;
    height: 24px;
    background: url(../icons/arrow\ bold.svg);
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 50%;
}

.gakvetilebi button i{
    font-size: 21px;
    margin: 0;
    font-family: 'MarkGeo';
    font-weight: bolder;
    font-style: normal;
    line-height: 20px;
}

.m-nav-content{
    width: 100%;
}

.gakvetilebi{
    margin-top: 15px;
    cursor: url(../cursors/pointer-light.png), pointer;
}

[data-theme="dark"] .gakvetilebi{
    cursor: url(../cursors/pointer-dark.png), pointer;
}

.lessons-section{
    display: none;
}

#menu{
    top: -100%;
    transition: 0.3s;
}

#btnLessons, #btnGakvetilebi{
    display: none;
}

[data-theme="dark"] .m-nav{
    background-color: #121212;
    transition: 0.3s;
}

[data-theme="dark"] .m-nav{
    color: #A2A2A2;
    transition: 0.3s;
}

[data-theme="dark"] .gakvetilebi i{
    color: #A2A2A2;
    transition: 0.3s;
}

[data-theme="dark"] .gakvetilebi a{
    color: #A2A2A2;
    transition: 0.3s;
}

[data-theme="dark"] .icon-rectangle{
    filter: invert(1);
    transition: 0.3s;
}

[data-theme="dark"] .closebtn {
    background: url(../icons/cross.svg) #23232308;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(0.8);
    transition: 0.3s;
}

.ftTwo{
    cursor: url(../cursors/pointer-light.png), pointer;
}

.ftlinks a, .powerdby a{
    cursor: url(../cursors/pointer-light.png), pointer;
}

[data-theme="dark"].ftTwo{
    cursor: url(../cursors/pointer-dark.png), pointer !important;
}

[data-theme="dark"].ftlinks a{
    cursor: url(../cursors/pointer-dark.png), pointer;
}

[data-theme="dark"].powerdby a{
    cursor: url(../cursors/pointer-dark.png), pointer;
}

.menu{
    background: white;
    position: absolute;
    margin-top: 270px;
    padding: 28px;
    border-radius: 14px;
    opacity: 0;
    transition: 0.3s;
    display: flex;
}

.openLessons:hover + .menu{
    opacity: 1;
    transition: 0.3s;
}

.menuHeader{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.sepMenu:not(:last-child){
    margin-right: 20px;
}

.menuList{
    display: flex;
    flex-direction: column;
}

.list{
    line-height: 38px;
}

[data-theme="dark"].menuTitle{
    color: rgb(188, 188, 188) !important;
}

[data-theme="dark"].list{
    color: rgb(188, 188, 188) !important;
}

[data-theme="dark"].menu{
    background: #121212 !important;
}

@media only screen and (max-width: 1600px) {
    .ftOne {
        width: 85%;
    }
    nav a{
        font-size: 22px;
    }
    main{
        padding-top: 2px;
    }
    .cubes-decoration{
        top: 100px;
    }
    .wtime{
        padding-top: 80px;
    }
    .logo, div.dark-mode, .dark-mode input{
        width: 55px;
        height: 55px;
    }
    nav button.start{
        height: 55px;
    }
    .header{
        height: 90px;
    }
    .title {
        font-size: 45px;
    }
    .desc {
        font-size: 30px;
        margin-top: 36px;
        margin-bottom: 56px;
    }
    .startlearningtitle {
        font-size: 40px;
    }    
}

@media only screen and (max-width: 1450px) {
    .startlearningtitle {
        font-size: 35px;
    }    
}

@media only screen and (max-width: 1400px) {
    nav a{
        font-size: 16px;
    }
    .navobj{
        visibility: hidden;
    }
    .menubtn{
        display: inline-block;
    }
    .title{
        font-size: 38px;
    }
    .desc{
        font-size: 26px;
    }
    .sectionInfo .start {
        width: 506px;
        height: 94px;
        border-radius: 12px;
        font-size: 36px;
    }
    .circle-decoration {
        width: 164px;
        height: 208px;
        background-size: 164px;
        padding: 0;
        margin-left: -100px;
        background-position: 0px 32px;
    }
    .cubes-decoration{
        width: 120px;
        background-size: 120px;
        height: 140px;
    }
}

@media only screen and (max-width: 1325px) {
    .whydevi{
        margin-top: 100px !important;
    }
    section.whyus{
        height: 304px;
    }
    header{
        height: 85px;
    }
    .ftOne :is(a, p, i) {
        font-size: 20px;
    }
    footer, .ftContent {
        height: 194px;
    }
}

@media only screen and (max-width: 1240px) {
    .startlearningtitle {
        font-size: 32px;
    }
    .dontwwastetime .start{
        margin-top: 64px;
        font-size: 44px;
    }
    nav a{
        font-size: 12px;
    }
    .icon-watch {
        height: 135px;
        width: 120px;
    }
    .content:nth-child(odd) {
        margin-top: 155px;
    }
    .cubes-decoration {
        width: 100px;
        background-size: 100px;
        height: 116px;
    }
    footer, .ftContent {
        height: 186px;
    }
    .menu{
        display: none;
    }
}

@media only screen and (max-width: 1150px) {
    header {
        height: 70px;
    }
    .logo, div.dark-mode, .dark-mode input, .menubtn{
        width: 48px;
        height: 48px;
    }
    nav button.start {
        height: 48px;
    }
    .title {
        font-size: 32px;
    }
    .desc {
        font-size: 22px;
        margin-top: 24px;
        margin-bottom: 30px;
    }
    .content:nth-child(odd) {
        margin-top: 142px;
    }
    .startlearningtitle {
        font-size: 30px;
    }
    .icon-watch {
        height: 110px;
        width: 100px;
    }
    .dontwwastetime .start {
        height: 112px;
        margin-top: 44px;
        font-size: 36px;
    }
}

@media only screen and (max-width: 1050px) {
    nav a {
        font-size: 6px;
    }
    .sectionInfo .start {
        width: 434px;
    }
    .ftOne :is(a, p, i) {
        font-size: 16px;
    }
    .startlearningtitle {
        font-size: 24px;
    }
}

@media only screen and (max-width: 960px) {
    .sectionInfo .start{
        height: 80px;
        font-size: 32px;
    }
    .content{
        flex-direction: column-reverse;
    }
    .sectionInfo {
        width: 100%;
        margin-bottom: 85px;
    }
    .sectionImg {
        width: 100%;
        margin-bottom: 120px;
        display: flex;
        justify-content: center;
    }
    .sectionImg img {
        width: 40%;
    }
    .sectionInfo div{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .cubes-decoration, .circle-decoration{
        display: none !important;
    }
    .sectionInfo .start {
        width: 60%;
    }
    .dontwwastetime .start {
        height: 85px;
        margin-top: 44px;
        font-size: 30px;
    }
    .info {
        font-size: 22px;
    }
    nav a {
        font-size: 2px;
    }
}

@media only screen and (max-width: 960px) {
    nav button.start{
        display: none;
    }
    .sectionImg img {
        width: 50%;
    }
    .title {
        font-size: 24px;
    }
    .desc {
        font-size: 18px;
        margin-top: 16px;
        margin-bottom: 16px;
    }
    .sectionInfo .start {
        width: 84%;
        height: 56px;
        font-size: 18px;
        border-radius: 8px;
    }
    section.whyus {
        height: 360px;
        background-size: 20%;
    }
    div.whyus {
        margin: 10% 0;
    }
    .wtime {
        padding-top: 2px;
    }
    .dontwwastetime {
        width: 100%;
    }
    .startlearningtitle {
        font-size: 14px;
    }
    .icon-watch {
        height: 70px;
        width: 60px;
    }
    .dontwwastetime .start {
        height: 60px;
        margin-top: 24px;
        font-size: 18px;
        border-radius: 8px;
    }
    .info {
        font-size: 13px;
    }
    .ftContent{
        flex-direction: column;
    }
    .ftlinks, .ftrights{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ftlinks a{
        margin-top: 12px;
    }
    footer, .ftContent {
        height: 365px;
    }
    .powerdby {
        margin: 0px;
    }
    nav, section.content{
        width: 84%;
    }
    .closebtn{
        width: 48px;
        height: 48px;
    }
    .m-content{
        flex-direction: column;
    }
}